.box {
  background: #1e1e2f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #333;
  flex-direction: column;
}

.drag-handle {
  cursor: move;
  padding: 5px;
  font-weight: bold;
}
